* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

@font-face {
    font-family: eng-title;
    src: url(../font/eng-title.ttf);
}

@font-face {
    font-family: bn-title;
    src: url(../font/bn-title.ttf);
}

.title h2 {
    margin: 20px 0;
    font-family: 'eng-title';
    font-size: 70px;
    font-weight: bold;
    color: #ff0000;
    text-align: center;
    text-shadow: -2px 1px 0px #cccccc;
}

@media (min-width: 300px) and (max-width: 469.98px) {
    .title h2 {
        margin: 10px 0;
        font-size: 30px;
    }
}

@media (min-width: 470px) and (max-width: 575.98px) {
    .title h2 {
        margin: 10px 0;
        font-size: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .title h2 {
        margin: 15px 0;
        font-size: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .title h2 {
        margin: 15px 0;
        font-size: 50px;
    }
}

.body {
    padding: 0;
    box-shadow: 0px 0px 10px #555555;
}

.about-part .about {
    background: #eeeeee;
    box-shadow: 0 10px 10px -10px #555555;
    border-radius: 5px;
    padding: 20px;
}

.about-part .about h3 {
    font-family: 'bn-title';
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-bottom: 20px;
}

.about-part .about p {
    font-family: 'Tiro Bangla', serif;
    font-size: 20px;
    color: #000000;
    text-align: justify;
}

.about-part .about p a {
    font-family: 'Josefin Sans', sans-serif;
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
}