.person-part .person {
    background: #eeeeee;
    box-shadow: 0 10px 10px -10px #000000;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.person-part .person img {
    width: 200px;
    border: thin solid #bbbbbb;
    border-radius: 5px;
}

.person-part .person .data h3 {
    margin-top: 10px;
    font-family: 'bn-title';
    font-size: 36px;
    font-weight: bold;
}

.person-part .person .data h4 {
    font-family: 'bn-title';
    font-size: 26px;
    font-weight: bold;
}

.person-part .person .data p {
    font-family: 'Tiro Bangla', serif;
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
}