.notice-part .notice {
    background: #eeeeee;
    box-shadow: 0 10px 10px -10px #000000;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.notice-part .notice .information {
    box-shadow: 0 10px 10px -10px #090e36;
    border-radius: 5px;
    padding: 20px;
    color: #090e36;
}

.notice-part .notice .information .header-part,
.notice-part .notice .information .navbar,
.notice-part .notice .information .news-ticker-part .news-ticker-label {
    display: none;
}

.notice-part .notice .information .news-ticker-part {
    position: static !important;
    background: transparent;
    border-bottom: none;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list {
    animation: news-ticker-list 0s linear infinite !important;
    padding: 12px 0px !important;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table{
    margin: auto;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list a {
    color: #090e36;
    margin: 0 !important;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody th,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody td {
    display: inline-block;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .th1,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .th2 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #090e36;
    padding: 5px 20px;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .td1,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .td2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #090e36;
    padding: 5px 20px;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .th2,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .td2 {
    text-align: center;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .th1,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .td1 {
    width: 700px;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .th2,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .td2 {
    width: 150px;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody tr {
    border: 1px solid #cccccc;
}

.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .th1,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .th2,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .td1,
.notice-part .notice .information .news-ticker-part .news-ticker-box .news-ticker-list table tbody .td2 {
    border-right: 1px solid #cccccc;
}